<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        .closed {
            color : red;
            text-decoration: line-through;
            font-weight: bold;
            font-style: italic;
        }
        li{
            cursor: pointer;
        }
        div{
            margin-bottom: 5px;
        }
        .bugsList {
                    width: 60%;
                    list-style: none;
                }
                .bugsList li{
                    margin-bottom: 5px;

                }
                .bug {
                        border : 2px solid gray;
                        background-color: lightgray;
                    border-radius: 5px;
                    padding: 5px;
                }
                .bug .name {
                    display: block;
                    font-size: 18pt;
                    font-weight: bold;
                    margin-bottom: 2px;
                }
                .bug .timeStamp{
                     font-style: italic;
                }
    </style>
    <script>
    /*
    Use Cases
    ==========
    1. List the bugs - done
    2. Add a new bug - done
    3. Toggle the completion status of the bug - done
    4. Remove Closed Bugs - done
    5. Display stats - done
    6. Search for the bugs - done
    7. Sort the bugs - done
    8. Display the created time
    9. Persist the bugs in the server

    10. Manage Projects
    */
    </script>
    <script src="angular.js"></script>
    <script src="moment.js"></script>
    <script>



        var bugTrackerApp = angular.module("bugTrackerApp", []);

       /* bugTrackerApp.value("Bug", function Bug(defaults){
            defaults = defaults || {};
            this.name = defaults.name || '';
            this.isClosed = defaults.isClosed || false;
            this.toggle =function(){
                this.isClosed = !this.isClosed;
            };
        });*/

        bugTrackerApp.value("bugDefaults", {
            name : '',
            isClosed : true,
            createdAt : new Date()
        });

        bugTrackerApp.factory("Bug", function getBugClass(bugDefaults){

            function Bug(defaults){
                this.name = defaults.name || bugDefaults.name;
                this.isClosed = (typeof defaults.isClosed === "undefined" ? bugDefaults.isClosed : defaults.isClosed);
                this.createdAt = defaults.createdAt || bugDefaults.createdAt;
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            };
            return Bug;
        });




        bugTrackerApp.controller("bugsController", function($scope, Bug){
            $scope.newBug = 'Enter the new bug';
            $scope.bugs = [
                new Bug({
                    name : 'index out of range',
                    isClosed : false,
                    createdAt : new Date(2015, 5, 10)
                }),
                new Bug({
                    name : 'stack overflow error',
                    isClosed : false,
                    createdAt : new Date(2015, 6, 20)
                }),
                new Bug({
                    name : 'object reference not set to an instance of an object',
                    isClosed : false,
                    createdAt : new Date(2015, 6, 23, 11, 0, 0)
                })
            ];
            $scope.addNew = function(){
                var newBug = new Bug({
                    name : $scope.newBug
                });
                $scope.bugs.push(newBug);
            };
            $scope.toggle = function(bug){
                //bug.isClosed = !bug.isClosed;
                bug.toggle();
            };

            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--){
                    if ($scope.bugs[i].isClosed){
                        $scope.bugs.splice(i,1);
                    }
                }
            };
        });

        /*bugTrackerApp.filter("getClosedCount", function(){
            return function(data){
                return data.filter(function(bug){
                    return bug.isClosed;
                }).length;
            }
        });*/

        bugTrackerApp.filter("getClosedCount", function($filter){
            var builtinFilter = $filter('filter');
            return function(data){
                return builtinFilter(data, {isClosed:true}).length
            }
        });

        bugTrackerApp.filter("toMoment", function(){
            return function(data){
                return moment(data).fromNow();
            }
        });
    </script>
</head>
<body ng-app="bugTrackerApp" >
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
        <div class="stats">
            <!--<span class="closed">{{(bugs | filter:{isClosed : true}).length }}</span> / <span>{{bugs.length}}</span>-->
            <span class="closed">{{bugs | getClosedCount}}</span> / <span>{{bugs.length}}</span>
        </div>
        <div class="search">
            <label for="">Search :</label>
            <input type="text" name="" id="" ng-model="searchBug.name">
            <label for="">Closed?</label>
            <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
        </div>
        <div>
            <label for="">Order By :</label>
            <select ng-model="sortBug.by">
                <option value="name">name</option>
                <option value="isClosed">isClosed</option>
            </select>
            <label for="">Descending ?</label>
            <input type="checkbox" name="" id="" ng-model="sortBug.order">
        </div>
        <div class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug" name="" id="">
            <input type="button" value="Add New" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol class="bugsList">
                <li
                    ng-repeat="bug in bugs | filter:searchBug | orderBy:sortBug.by:sortBug.order">
                    <div class="bug">
                       <span class="name"
                           ng-click="toggle(bug)"
                           ng-class="{closed : bug.isClosed}">
                               {{bug.name}}
                       </span>
                       <span class="timeStamp">{{bug.createdAt | toMoment}}</span>
                    </div>
                    </li>
            </ol>
        </div>
    </div>
</body>
</html>






















