<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        .closed {
            color : red;
            text-decoration: line-through;
            font-weight: bold;
            font-style: italic;
        }
        li{
            cursor: pointer;
        }
        div{
            margin-bottom: 5px;
        }
    </style>
    <script>
    /*
    Use Cases
    ==========
    1. List the bugs - done
    2. Add a new bug - done
    3. Toggle the completion status of the bug
    4. Remove Closed Bugs
    5. Display stats
    6. Search for the bugs
    7. Sort the bugs
    8. Display the created time
    9. Persist the bugs in the server

    10. Manage Projects
    */
    </script>
    <script src="angular.js"></script>
    <script>



        var bugTrackerApp = angular.module("bugTrackerApp", []);

       /* bugTrackerApp.value("Bug", function Bug(defaults){
            defaults = defaults || {};
            this.name = defaults.name || '';
            this.isClosed = defaults.isClosed || false;
            this.toggle =function(){
                this.isClosed = !this.isClosed;
            };
        });*/

        bugTrackerApp.value("bugDefaults", {
            name : '',
            isClosed : true
        });

        bugTrackerApp.factory("Bug", function getBugClass(bugDefaults){

            function Bug(defaults){
                this.name = defaults.name || bugDefaults.name;
                this.isClosed = (typeof defaults.isClosed === "undefined" ? bugDefaults.isClosed : defaults.isClosed);
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            };
            return Bug;
        });




        bugTrackerApp.controller("bugsController", function($scope, Bug){
            $scope.newBug = 'Enter the new bug';
            $scope.bugs = [
                new Bug({
                    name : 'index out of range',
                    isClosed : false
                }),
                new Bug({
                    name : 'stack overflow error',
                    isClosed : false
                }),
                new Bug({
                    name : 'object reference not set to an instance of an object',
                    isClosed : false
                })
            ];
            $scope.addNew = function(){
                var newBug = new Bug({
                    name : $scope.newBug
                });
                $scope.bugs.push(newBug);
            };
            $scope.toggle = function(bug){
                //bug.isClosed = !bug.isClosed;
                bug.toggle();
            };
            $scope.getClosedCount = function(){
                return $scope.bugs.filter(function(bug){
                    return bug.isClosed;
                }).length;
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--){
                    if ($scope.bugs[i].isClosed){
                        $scope.bugs.splice(i,1);
                    }
                }
            };
        });
    </script>
</head>
<body ng-app="bugTrackerApp" >
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
        <div class="stats">
            <span class="closed">{{getClosedCount()}}</span> / <span>{{bugs.length}}</span>
        </div>
        <div class="search"></div>
        <div class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug" name="" id="">
            <input type="button" value="Add New" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li
                    ng-repeat="bug in bugs track by $index"
                    ng-click="toggle(bug)"
                    ng-class="{closed : bug.isClosed}"
                >{{bug}}</li>
            </ol>
        </div>
    </div>
</body>
</html>
